! Dracula Pro Blade Xresources
*.foreground: #F8F8F2
*.background: #212C2A
*.cursorColor: #70A99F

! Black
*.color0: #212C2A
*.color8: #4C6762

! Red
*.color1: #FF9580
*.color9: #FFAA99

! Green
*.color2: #8AFF80
*.color10: #A2FF99

! Yellow
*.color3: #FFFF80
*.color11: #FFFF99

! Blue
*.color4: #9580FF
*.color12: #AA99FF

! Magenta
*.color5: #FF80BF
*.color13: #FF99CC

! Cyan
*.color6: #80FFEA
*.color14: #99FFEE

! White
*.color7: #F8F8F2
*.color15: #FFFFFF
